@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.custom-font {
    font-family: 'Poppins', sans-serif;
}

@keyframes login-bg-fadein {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

.login-bg {
    height: 100%;
    width: 100%;
    background-image: url("../images/image1.jpg");
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    
}

.login-card {
    width: 400px;
    background: rgba(59, 58, 58, 0.7);
    backdrop-filter: blur(10px);
    /* float: right; */
    /* width: 300px; */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    animation: 0.25s ease-in 0s 1 login-bg-fadein;
}

.login-title {
    padding: 12px;
    padding-bottom: 0px;
    font-size: xx-large;
    text-align: center;
    color: white;
}

.login-title-small {
    /* padding: 12px; */
    /* padding-bottom: 0px; */
    font-size: large;
    text-align: center;
    color: white;
}

.login-form {
    padding: 24px;
    color: white;
}

.login-already {
    color: white;
}

.login-already:hover{
    color: aquamarine;
}

.alert-secondary-custom {
    background-color: rgba(219, 24, 24, 0.541);
    text-align: center;
    border: none;
    border-radius: 0px;
    
}

.alert-secondary-custom-text {
    color: white;
    margin: 0px !important;
}