<html>
    <header>
        <title>
            Meal Manager
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    </header>
    <body class="custom-font">
        <h1>Meal Manager</h1>
        <b>Add recipe</b>  
        <a href="{{ url_for('add_recipe') }}">Manually</a> |   
        <a href="{{ url_for('upload_json') }}">Upload JSON</a><br><br>
        <b>Search and Manage</b>
        <a href="{{ url_for('find_food') }}">Find Food</a>
    </body>
</html>